html, body {
  height: 100%;
  width: 100%;
  background-color:#ccb3ff;
}

#centro{
  width: 700px;
  height:700px;
  margin:auto; 
  border:solid 3px black;
}

h1{
  text-align:center;
}

#menu{
margin:auto;
text-align:center;

  
}

